<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FlatChat_India</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56b61">  <td>15/09/18 16:25:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;A_Seeker_InitialSetupAfterInstall.setUp()[pri:0, instance:seekerProile.A_Seeker_InitialSetupAfterInstall@3a0a8d45]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="b56b61">  <td>15/09/18 16:25:58</td>   <td>4890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A_Seeker_InitialSetupAfterInstall.initialSetup()[pri:0, instance:seekerProile.A_Seeker_InitialSetupAfterInstall@3a0a8d45]">initialSetup</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="b56b61">  <td>15/09/18 16:26:19</td>   <td>25417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;A_Seeker_InitialSetupAfterInstall.teardown()[pri:0, instance:seekerProile.A_Seeker_InitialSetupAfterInstall@3a0a8d45]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6c7d82">  <td>15/09/18 16:26:19</td>   <td>26085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;B_LoginAsSeeker.setUp()[pri:0, instance:seekerProile.B_LoginAsSeeker@22c249c5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6c7d82">  <td>15/09/18 16:26:23</td>   <td>29867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_LoginAsSeeker.loginAsSeeker()[pri:0, instance:seekerProile.B_LoginAsSeeker@22c249c5]">loginAsSeeker</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6c7d82">  <td>15/09/18 16:26:32</td>   <td>38658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;B_LoginAsSeeker.teardown()[pri:0, instance:seekerProile.B_LoginAsSeeker@22c249c5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8b7aca">  <td>15/09/18 16:26:32</td>   <td>39331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;C_CreateProfile.setUp()[pri:0, instance:seekerProile.C_CreateProfile@774115fb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8b7aca">  <td>15/09/18 16:26:37</td>   <td>44219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_CreateProfile.CreateProfile()[pri:0, instance:seekerProile.C_CreateProfile@774115fb]">CreateProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8b7aca">  <td>15/09/18 16:26:55</td>   <td>62166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;C_CreateProfile.teardown()[pri:0, instance:seekerProile.C_CreateProfile@774115fb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8a87f4">  <td>15/09/18 16:26:56</td>   <td>62822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;D_EditProfileSeeker.setUp()[pri:0, instance:seekerProile.D_EditProfileSeeker@42f3fe0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8a87f4">  <td>15/09/18 16:27:00</td>   <td>66716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_EditProfileSeeker.SeekerEditProfile()[pri:0, instance:seekerProile.D_EditProfileSeeker@42f3fe0]">SeekerEditProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="8a87f4">  <td>15/09/18 16:27:35</td>   <td>101801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;D_EditProfileSeeker.teardown()[pri:0, instance:seekerProile.D_EditProfileSeeker@42f3fe0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="a3dd90">  <td>15/09/18 16:27:35</td>   <td>102364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;E_CheckingMatches.setUp()[pri:0, instance:seekerProile.E_CheckingMatches@435914ac]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="a3dd90">  <td>15/09/18 16:27:39</td>   <td>106173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_CheckingMatches.SeekerEditProfile()[pri:0, instance:seekerProile.E_CheckingMatches@435914ac]">SeekerEditProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="a3dd90">  <td>15/09/18 16:28:02</td>   <td>128486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;E_CheckingMatches.teardown()[pri:0, instance:seekerProile.E_CheckingMatches@435914ac]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6ea3fe">  <td>15/09/18 16:28:02</td>   <td>129116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;F_AddPhoneNumber.setUp()[pri:0, instance:seekerProile.F_AddPhoneNumber@7d99eb6c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6ea3fe">  <td>15/09/18 16:28:06</td>   <td>132914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_AddPhoneNumber.SeekerEditProfile()[pri:0, instance:seekerProile.F_AddPhoneNumber@7d99eb6c]">SeekerEditProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="6ea3fe">  <td>15/09/18 16:28:13</td>   <td>140221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;F_AddPhoneNumber.teardown()[pri:0, instance:seekerProile.F_AddPhoneNumber@7d99eb6c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="d098b7">  <td>15/09/18 16:28:14</td>   <td>140927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;G_Discovery_Off_On.setUp()[pri:0, instance:seekerProile.G_Discovery_Off_On@520a4ee7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="d098b7">  <td>15/09/18 16:28:18</td>   <td>144858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_Discovery_Off_On.SeekerEditProfile()[pri:0, instance:seekerProile.G_Discovery_Off_On@520a4ee7]">SeekerEditProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="d098b7">  <td>15/09/18 16:28:42</td>   <td>168497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;G_Discovery_Off_On.teardown()[pri:0, instance:seekerProile.G_Discovery_Off_On@520a4ee7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="daa0b7">  <td>15/09/18 16:28:42</td>   <td>169157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;H_Logout.setUp()[pri:0, instance:seekerProile.H_Logout@ac0cac8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="daa0b7">  <td>15/09/18 16:28:46</td>   <td>172871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_Logout.SeekerEditProfile()[pri:0, instance:seekerProile.H_Logout@ac0cac8]">SeekerEditProfile</td> 
  <td>main@510098122</td>   <td></td> </tr>
<tr bgcolor="daa0b7">  <td>15/09/18 16:29:06</td>   <td>192963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;H_Logout.teardown()[pri:0, instance:seekerProile.H_Logout@ac0cac8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@510098122</td>   <td></td> </tr>
</table>
