<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cc8cf1">  <td>16/02/09 18:55:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P_GalleryImageShare.setUp()[pri:0, instance:tenantProfile.P_GalleryImageShare@463c0196]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1848574336</td>   <td></td> </tr>
<tr bgcolor="cc8cf1">  <td>16/02/09 18:56:02</td>   <td>6056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_GalleryImageShare.contactShare()[pri:0, instance:tenantProfile.P_GalleryImageShare@463c0196]">contactShare</td> 
  <td>main@1848574336</td>   <td></td> </tr>
<tr bgcolor="cc8cf1">  <td>16/02/09 18:56:55</td>   <td>58396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P_GalleryImageShare.teardown()[pri:0, instance:tenantProfile.P_GalleryImageShare@463c0196]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1848574336</td>   <td></td> </tr>
</table>
