<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FlatChat_India by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6acdae">  <td>15/09/18 14:24:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;A_InitialSetupAfterInstall.setUp()[pri:0, instance:seekerProile.A_InitialSetupAfterInstall@3cbd7173]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="6acdae">  <td>15/09/18 14:24:52</td>   <td>8714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A_InitialSetupAfterInstall.initialSetup()[pri:0, instance:seekerProile.A_InitialSetupAfterInstall@3cbd7173]">initialSetup</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="6acdae">  <td>15/09/18 14:25:03</td>   <td>19645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;A_InitialSetupAfterInstall.teardown()[pri:0, instance:seekerProile.A_InitialSetupAfterInstall@3cbd7173]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="e4f894">  <td>15/09/18 14:25:03</td>   <td>20302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;F_AddPhoneNumber.setUp()[pri:0, instance:seekerProile.F_AddPhoneNumber@4a05c759]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="e4f894">  <td>15/09/18 14:25:09</td>   <td>25448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_AddPhoneNumber.SeekerEditProfile()[pri:0, instance:seekerProile.F_AddPhoneNumber@4a05c759]">SeekerEditProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="e4f894">  <td>15/09/18 14:25:14</td>   <td>30519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;F_AddPhoneNumber.teardown()[pri:0, instance:seekerProile.F_AddPhoneNumber@4a05c759]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a7b479">  <td>15/09/18 14:25:14</td>   <td>31108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;B_LoginAsSeeker.setUp()[pri:0, instance:seekerProile.B_LoginAsSeeker@282b3223]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a7b479">  <td>15/09/18 14:25:18</td>   <td>35368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_LoginAsSeeker.loginAsSeeker()[pri:0, instance:seekerProile.B_LoginAsSeeker@282b3223]">loginAsSeeker</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a7b479">  <td>15/09/18 14:25:40</td>   <td>57005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;B_LoginAsSeeker.teardown()[pri:0, instance:seekerProile.B_LoginAsSeeker@282b3223]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="bebe8d">  <td>15/09/18 14:25:41</td>   <td>57650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;G_Discovery_Off_On.setUp()[pri:0, instance:seekerProile.G_Discovery_Off_On@3963542c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="bebe8d">  <td>15/09/18 14:25:45</td>   <td>61452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_Discovery_Off_On.SeekerEditProfile()[pri:0, instance:seekerProile.G_Discovery_Off_On@3963542c]">SeekerEditProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="bebe8d">  <td>15/09/18 14:26:08</td>   <td>85253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;G_Discovery_Off_On.teardown()[pri:0, instance:seekerProile.G_Discovery_Off_On@3963542c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="8b677a">  <td>15/09/18 14:26:09</td>   <td>85891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;C_CreateProfile.setUp()[pri:0, instance:seekerProile.C_CreateProfile@71be645d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="8b677a">  <td>15/09/18 14:26:15</td>   <td>91452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_CreateProfile.CreateProfile()[pri:0, instance:seekerProile.C_CreateProfile@71be645d]">CreateProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="8b677a">  <td>15/09/18 14:26:34</td>   <td>110623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;C_CreateProfile.CreateProfile()[pri:0, instance:seekerProile.C_CreateProfile@71be645d]">&lt;&lt;CreateProfile</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a9ae9e">  <td>15/09/18 14:26:37</td>   <td>113882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;H_Logout.setUp()[pri:0, instance:seekerProile.H_Logout@3890c1ee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a9ae9e">  <td>15/09/18 14:26:37</td>   <td>113893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_Logout.SeekerEditProfile()[pri:0, instance:seekerProile.H_Logout@3890c1ee]">SeekerEditProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="fa8f74">  <td>15/09/18 14:26:37</td>   <td>113898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;D_EditProfileSeeker.setUp()[pri:0, instance:seekerProile.D_EditProfileSeeker@4162ca06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="fa8f74">  <td>15/09/18 14:26:37</td>   <td>113919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_EditProfileSeeker.SeekerEditProfile()[pri:0, instance:seekerProile.D_EditProfileSeeker@4162ca06]">SeekerEditProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a4e4e0">  <td>15/09/18 14:26:37</td>   <td>113922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;E_CheckingMatches.setUp()[pri:0, instance:seekerProile.E_CheckingMatches@2be8ac6f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1331424390</td>   <td></td> </tr>
<tr bgcolor="a4e4e0">  <td>15/09/18 14:26:37</td>   <td>113931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_CheckingMatches.SeekerEditProfile()[pri:0, instance:seekerProile.E_CheckingMatches@2be8ac6f]">SeekerEditProfile</td> 
  <td>main@1331424390</td>   <td></td> </tr>
</table>
