<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aae2b9">  <td>16/02/09 18:47:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;C_CreateProfile.setUp()[pri:0, instance:seekerProfile.C_CreateProfile@39d9f91c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@995737101</td>   <td></td> </tr>
<tr bgcolor="aae2b9">  <td>16/02/09 18:48:03</td>   <td>5860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_CreateProfile.runCreateProifle(java.lang.String)[pri:0, instance:seekerProfile.C_CreateProfile@39d9f91c]">runCreateProifle</td> 
  <td>main@995737101</td>   <td></td> </tr>
<tr bgcolor="aae2b9">  <td>16/02/09 18:49:02</td>   <td>64023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;C_CreateProfile.teardown()[pri:0, instance:seekerProfile.C_CreateProfile@39d9f91c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@995737101</td>   <td></td> </tr>
</table>
